//fonts
@use '../style/index' as *;

body {
  &.hidden {
    overflow: hidden;
  }
}

.page {
  width: 100%;
  height: auto;
  //overflow: hidden;
}

//////wrapper and grid//////

.wrapper {
  @include wrapper;
}

.grid {
  @include grid;
}

.justGrid {
  @include justGrid;
}

.justPadding {
  @include justPadding;
}

.fullGrid {
  grid-column: 1 / -1;
}

//////fonts//////

// font-weight
.font-5xl {
  @include font-5xl;
}

.font-4xl {
  @include font-4xl;
}

.font-3xl {
  @include font-3xl;
}

.font-3xl-2 {
  @include font-3xl-2;
}

.font-2xl {
  @include font-2xl;
}

.font-2xl-2 {
  @include font-2xl-2;
}

.font-xl {
  @include font-xl;
}

.font-xl-2 {
  @include font-xl-2;
}

.font-l {
  @include font-l;
}

.font-l-2 {
  @include font-l-2;
}

.font-l-3 {
  @include font-l-3;
}

.font-l-4 {
  @include font-l-4;
}

.font-m {
  @include font-m;
}

.font-m-2 {
  @include font-m-2;
}

.font-m-3 {
  @include font-m-3;
}

.font-m-4 {
  @include font-m-4;
}

.font-s {
  @include font-s;
}

.font-s-2 {
  @include font-s-2;
}

.font-xs {
  @include font-xs;
}

.font-xs-2 {
  @include font-xs-2;
}

.font-2xs {
  @include font-2xs;
}

.font-2xs-2 {
  @include font-2xs-2;
}

.font-3xs {
  @include font-3xs;
}

.font-4xs {
  @include font-3xs;
}

.richText {
  a,
  mark {
    font-weight: 600;
  }
  strong {
    font-weight: 600;
  }

  mark {
    background: none;
    color: rgb(var(--m-01--dark-03));
  }

  a {
    text-decoration: underline;
  }

  a.colored-link {
    color: rgb(var(--m-01--dark-03));
  }
}

//Colors
$ALL-COLORS: (
  neu-01: --neu-01,
  neu-02: --neu-02,
  neu-03: --neu-03,
  neu-04: --neu-04,
  neu-05: --neu-05,
  neu-06: --neu-06,
  neu-07: --neu-07,
  neu-08: --neu-08,
  neu-09: --neu-09,
  neu-10: --neu-10,
  neu-11: --neu-11,
  //
  m-01: --m-01,
  m-01--light-01: --m-01--light-01,
  m-01--light-02: --m-01--light-02,
  m-01--dark-01: --m-01--dark-01,
  m-01--dark-02: --m-01--dark-02,
  m-01--dark-03: --m-01--dark-03,
  //
  add-01--light-01: --add-01--light-01,
  add-01: --add-01,
  add-01--dark-01: --add-01--dark-01,
  //
  not-01: --not-01,
  not-02: --not-02,
  not-03: --not-03,
  not-04: --not-04,
);

//font Colors
@each $name, $variable in $ALL-COLORS {
  .color-#{$name} {
    color: rgb(var($variable));
  }
}

//icon Colors
@each $name, $variable in $ALL-COLORS {
  .icon--#{$name} {
    &.icon--bas {
      svg {
        * {
          stroke: rgb(var($variable));
          stroke-width: 2px;
          vector-effect: non-scaling-stroke;
        }
      }
    }
    &.icon--bra,
    &.icon--bop,
    &.icon--soc {
      svg {
        * {
          fill: rgb(var($variable));
        }
      }
    }
  }
}

//BG Colors
@each $name, $variable in $ALL-COLORS {
  .bgColor-#{$name} {
    background-color: rgb(var($variable));
  }
}

// Overlays

.overlay-01 {
  @include overlay-01;
}
.overlay-02 {
  @include overlay-02;
}
.overlay-03 {
  @include overlay-03;
}
.overlay-04 {
  @include overlay-04;
}
.overlay-06 {
  @include overlay-06;
}
.overlay-07 {
  @include overlay-07;
}
.overlay-09 {
  @include overlay-09;
}
