//fonts
@use '../style/index' as *;

body {
  &.hidden {
    overflow: hidden;
  }
}

.page {
  width: 100%;
  height: auto;
  //overflow: hidden;
}

//////wrapper and grid//////

.wrapper {
  @include wrapper;
}

.grid {
  @include grid;
}

.justGrid {
  @include justGrid;
}

.justPadding {
  @include justPadding;
}

.fullGrid {
  grid-column: 1 / -1;
}

//////fonts//////

// font-weight
.font-5xl {
  @include font-5xl;
}

.font-4xl {
  @include font-4xl;
}

.font-3xl {
  @include font-3xl;
}

.font-3xl-2 {
  @include font-3xl-2;
}

.font-2xl {
  @include font-2xl;
}

.font-2xl-2 {
  @include font-2xl-2;
}

.font-xl {
  @include font-xl;
}

.font-xl-2 {
  @include font-xl-2;
}

.font-l {
  @include font-l;
}

.font-l-2 {
  @include font-l-2;
}

.font-l-3 {
  @include font-l-3;
}

.font-l-4 {
  @include font-l-4;
}

.font-m {
  @include font-m;
}

.font-m-2 {
  @include font-m-2;
}

.font-m-3 {
  @include font-m-3;
}

.font-m-4 {
  @include font-m-4;
}

.font-s {
  @include font-s;
}

.font-s-2 {
  @include font-s-2;
}

.font-xs {
  @include font-xs;
}

.font-xs-2 {
  @include font-xs-2;
}

.font-2xs {
  @include font-2xs;
}

.font-2xs-2 {
  @include font-2xs-2;
}

.font-3xs {
  @include font-3xs;
}

.font-4xs {
  @include font-3xs;
}

.richText {
  a,
  mark {
    font-weight: 600;
  }
  strong {
    font-weight: 600;
  }

  mark {
    background: none;
    color: rgb(var(--m-01--dark-03));
  }

  a {
    text-decoration: underline;
  }

  a.colored-link {
    color: rgb(var(--m-01--dark-03));
  }
}

//Colors
$ALL-COLORS: (
  neu-01: --neu-01,
  neu-02: --neu-02,
  neu-03: --neu-03,
  neu-04: --neu-04,
  neu-05: --neu-05,
  neu-06: --neu-06,
  neu-07: --neu-07,
  neu-08: --neu-08,
  neu-09: --neu-09,
  neu-10: --neu-10,
  neu-11: --neu-11,
  //
  m-01: --m-01,
  m-01--light-01: --m-01--light-01,
  m-01--light-02: --m-01--light-02,
  m-01--dark-01: --m-01--dark-01,
  m-01--dark-02: --m-01--dark-02,
  m-01--dark-03: --m-01--dark-03,
  //
  add-01--light-01: --add-01--light-01,
  add-01: --add-01,
  add-01--dark-01: --add-01--dark-01,
  //
  not-01: --not-01,
  not-02: --not-02,
  not-03: --not-03,
  not-04: --not-04,
);

//font Colors
@each $name, $variable in $ALL-COLORS {
  .color-#{$name} {
    color: rgb(var($variable));
  }
}

//icon Colors
@each $name, $variable in $ALL-COLORS {
  .icon--#{$name} {
    &.icon--bas {
      svg {
        * {
          stroke: rgb(var($variable));
          stroke-width: 2px;
          vector-effect: non-scaling-stroke;
        }
      }
    }
    &.icon--bra,
    &.icon--bop,
    &.icon--soc {
      svg {
        * {
          fill: rgb(var($variable));
        }
      }
    }
  }
}

//BG Colors
@each $name, $variable in $ALL-COLORS {
  .bgColor-#{$name} {
    background-color: rgb(var($variable));
  }
}

//////shadows//////

.MS-01 {
  @include MS-01;
}

.MS-02 {
  @include MS-02;
}

.MS-03 {
  @include MS-03;
}

.MS-04 {
  @include MS-04;
}

.MS-05 {
  @include MS-05;
}

.MS-06 {
  @include MS-06;
}

//////Aspect Ratio//////
.ratio-1-1 {
  @include ratio-1-1;
}
.ratio-3-4 {
  @include ratio-3-4;
}
.ratio-4-3 {
  @include ratio-4-3;
}
.ratio-16-9 {
  @include ratio-16-9;
}
.ratio-21-9 {
  @include ratio-21-9;
}

// Overlays
.overlay-g01 {
  @include overlay-g01;
}
.overlay-b01 {
  @include overlay-b01;
}
.overlay-02 {
  @include overlay-02;
}
.overlay-03 {
  @include overlay-03;
}
.overlay-04 {
  @include overlay-04;
}
.overlay-06 {
  @include overlay-06;
}
.overlay-07 {
  @include overlay-07;
}
.overlay-09 {
  @include overlay-09;
}

//tooltip
[data-tippy-root] {
  @include mq(0, 1024px) {
    @include overlay-06;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    position: fixed !important;
    height: 100vh;
    width: 100vw;
    max-width: 100vw !important;
  }
}

.tippy-box {
  width: 100% !important;
  border-radius: 0 !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  max-height: 336px !important;
  padding: 8px 40px 24px 32px !important;
  padding-right: 15px !important;
  position: fixed !important;
  bottom: 0;
  max-width: 100% !important;
  z-index: 2;
  @include font-2xs;

  @include media-M {
    position: relative !important;
    bottom: unset;
    width: 360px !important;
    max-width: 360px !important;
    border-radius: 8px !important;
    padding: 16px 40px 16px !important;
    padding-right: 15px !important;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 32px;
    width: 100%;
    z-index: 10;
    background: linear-gradient(
      180deg,
      rgb(var(--neu-09)) 45%,
      rgba(var(--neu-09), 0) 100%
    );
    border-radius: 8px 8px 0px 0px;
    width: calc(100% - 40px);

    @include media-M {
      height: 40px;
    }
  }

  &:after {
    bottom: 8px;
    top: unset;
    transform: rotate(180deg);
    display: block;

    @include media-M {
      display: block;
    }
  }
}
.tippy-content {
  max-height: 294px;
  padding: 0 !important;

  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 16px;
    background-color: rgb(var(--neu-09));
    right: -14px;
    top: -8px;
    z-index: 11;

    @include media-M {
      height: 40px;
      top: -16px;
    }
  }
  &:before {
    border-top-right-radius: 8px !important;
  }

  &:after {
    bottom: -32px;
    top: unset;
    height: 16px;
    border-bottom-right-radius: 8px !important;

    @include media-M {
      height: 32px;
      bottom: -16px;
    }
  }

  > * {
    strong {
      font-weight: 600;
    }

    a {
      color: rgb(var(--m-01)) !important;
      text-decoration: underline;
    }
  }
}

.tippy-box[data-theme~='jcs'] {
  background-color: rgb(var(--neu-09)) !important;
  color: rgb(var(--neu-01)) !important;
  .tippy-svg-arrow {
    width: 47px !important;
    height: 34px !important;
    top: 0;
    left: 0;
    display: none;

    @include media-M {
      display: block;
    }

    svg {
      path {
        fill: rgb(var(--neu-09)) !important;
      }
    }
  }
  &[data-placement^='top'] > .tippy-svg-arrow {
    bottom: 0;
    top: unset;
    svg {
      bottom: -20px;
    }
  }
  &[data-placement^='bottom'] > .tippy-svg-arrow svg {
    top: -20px;
    transform: rotate(180deg);
  }
  &[data-placement^='left'] > .tippy-svg-arrow {
    right: 0;
    left: unset;
    svg {
      right: -20px;
      transform: rotate(-90deg);
    }
  }

  &[data-placement^='right'] > .tippy-svg-arrow {
    svg {
      left: -20px;
      transform: rotate(90deg);
    }
  }
}

// Spacings Modules

.spacing {
  &--top-l {
    padding-top: $spc-80;
    @include media-M {
      padding-top: $spc-96;
    }
  }
  &--bottom-l {
    padding-bottom: $spc-80;
    @include media-M {
      padding-bottom: $spc-96;
    }
  }
  &--top-m {
    padding-top: $spc-56;
    @include media-M {
      padding-top: $spc-72;
    }
  }
  &--bottom-m {
    padding-bottom: $spc-56;
    @include media-M {
      padding-bottom: $spc-72;
    }
  }
  &--top-s {
    padding-top: $spc-32;
    @include media-M {
      padding-top: $spc-48;
    }
  }
  &--bottom-s {
    padding-bottom: $spc-32;
    @include media-M {
      padding-bottom: $spc-48;
    }
  }
  &--top-xs {
    padding-top: $spc-08;
    @include media-M {
      padding-top: $spc-24;
    }
  }
  &--bottom-xs {
    padding-bottom: $spc-08;
    @include media-M {
      padding-bottom: $spc-24;
    }
  }
  &--top-none {
    padding-top: 0px;
    @include media-M {
      padding-top: 0px;
    }
  }
  &--bottom-none {
    padding-bottom: 0px;
    @include media-M {
      padding-bottom: 0px;
    }
  }
}

//Sticky margins
.sticky {
  &--top-l {
    top: $spc-80;
    @include media-M {
      top: $spc-96;
    }
  }
  &--top-m {
    top: $spc-56;
    @include media-M {
      top: $spc-72;
    }
  }

  &--top-s {
    top: $spc-32;
    @include media-M {
      top: $spc-48;
    }
  }

  &--top-xs {
    top: $spc-08;
    @include media-M {
      top: $spc-24;
    }
  }

  &--top-none {
    top: 0px;
    @include media-M {
      top: 0px;
    }
  }
}
